@import url(https://fonts.googleapis.com/css?family=Lato);

body{
    font-family: sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: repeat 50% 50% fixed;
    background-size: 100% 100%;
    overflow:hidden;
    -moz-background-size:100% 100%;
    -webkit-background-size:100% 100%;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline:0;
    cursor:pointer;
    border: 0 !important;
    background: #2c3e50;
    line-height: 2;
 }
 

.select-hidden{
    display:none;
    visibility: hidden;
}

.selector{
    cursor:pointer;
    display:inline-block;
    position:relative;
    padding-bottom: -10px;
    background-color:#f7e1f3;
    font-size:16pt;   
    overflow:hidden;
    border-radius: .5em;
}
select.decorated:option:hover{
    background-color: #ebedef inset;
    color: #2c3e50;
}
select{
    position:relative;
    flex:1;
    padding:0 0.5em;
    color:white;
}
.selector::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    background: #f7e1f3;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .35s all ease;
    -o-transition: .35s all ease;
    transition: .35s all ease;
  }
.selector:hover::after{
    color: #f7e1f3;
    background: #2c3e50
}