@import url(https://fonts.googleapis.com/css?family=Lato);

body{
    background-color: white;
    font-family: sans-serif;

}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline:0;
    cursor:pointer;
    border: 0 !important;
    background: #2c3e50;
    line-height: 2;
 }
 select::-ms-expand{
     /*display: none;*/
 }

.select-hidden{
    display:none;
    visibility: hidden;
}

.selector{
    cursor:pointer;
    display:inline-block;
    position:relative;
    background-color:#2c3e50;
    font-size:16pt;    
    padding-left: 0px;
    overflow:hidden;
    border-radius: .5em;
}
select{
    flex:1;
    padding:0 0.5em;
    color:white;
}
.selector::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding-left:0px;
    padding-bottom: -10px;
    background: #f7e1f3;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
.selector:hover::after{
    color:pink;
}